body {
  font-family: "游ゴシック体","游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic","メイリオ";
  font-size: 1.2rem;
  background-color: #e0f0ff;
  color: #333;
}

.container {
  margin-left: 5%;
  width: 90%;
}

a {
  color : #505050;
  text-decoration : none;
}

blockquote {
  background-color: #f0f0f4;
}

.paper {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
}

li {
  margin: 0.3rem;
}

.paper.li {
  margin: 0;
}

.paper.post {
  margin: 2rem 0rem;
}

.summary {
  margin: 0.8rem 0rem;
}

.post img {
  max-width: 85%;
}

.paper a {
  color: #008eb9;
}
  
h1,h2,h3,h4,h5,h6 {
  color: steelblue;
}

h1 {
  border-bottom: solid 0.3rem #d3d3d3;
}
h2 {
  border-bottom: solid 0.2rem #d3d3d3;
}


.logo {
  color: steelblue;
  display: block;
  font-weight: bold;
  border: none;
}

pre,
pre code {
  background-color: #f7f7fa;
  color: #42464c;
  overflow-x: auto;
}

code {
  overflow: scroll;
  color: midnightblue;
  background-color: #f7f7fa;
}

code[data-lang] {
  background-color: inherit;
  color: inherit;
  overflow: scroll;
}

.date {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

header {
  color: steelblue;
  padding: 0;
  margin: 0;
}

footer {
  color: steelblue;
}

.pagination {
  color: steelblue;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
}
.pagination:hover {
  color: white;
  background-color: steelblue;
}

.tags {
  color: steelblue;
  background-color: #e0f0ff;
  padding: 0.2rem 0.5rem;
  border-radius: 1.6rem;
  margin: 0.5rem;
}

.tags:hover {
  color: white;
  background-color: steelblue;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

th {
  background-color: #e0f0ff;
}

table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}

table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}
