{{ define "main" }}
<div class="post paper">
  <h1 class="page-title">{{ .Title }}</h1>
  <div class="date">
  {{.Date.Format "2006-01-02"}}
  {{ with .Params.tags -}}
    {{ range . }}
      <a class="tags" href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  {{- end }}
  </div>
  {{ .Content }}

  <br />
  Categories:
  {{ with .Params.categories -}}
    {{ range . -}}
      <a class="categories" href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
    {{ end -}}
  {{- end }}
</div>
{{ end }}
